:root {
  --container-width: 1200px;
  --container-padding: 15px;

  --font-main: 'Poppins', sans-serif;
  // --font-accent: 'Poppins', serif;

  --page-bg: #ebedf3;
  --text-color: #181717;
  --secondary-text-color: #f0f0f0;
  --dove-gray-color: #676767;
  --silver-color: #bdbdbd;
  --danube-color: #6699cc;
  --regal-blue-color: #003b6d;
}

.dark {
  --page-bg: #252526;
  --text-color: #f0f0f0;
}
